{% extends "layout.html" %}

{% block content %}
  <h3>User: {{user.name.first}} {{user.name.last}}<small> (<a href="{{render.urlTitle}}/similar">Similar</a>)</small></h3>
  {{tags}}
  <hr>
  <div class="page-body">{{render.content}}</div>
  <p>Email: {{user.email}}</p>
  <p>This user has authored the following pages: </p>
  {% for page in pages %}
  <p>{{page | pageLink}}</p>
  {% endfor %}
  <a href="{{render.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{render.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
